.dialogs{
   display: grid; 
   grid-template-columns:2fr 10fr ;
}

.dialogsItems{
padding: 10px;
color: white;
}
.dialogsItems .active{
    color: gold;
}

.meseges{
padding: 10px;
}

.meseg{
    color: white;
}